<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta chartset="utf-8">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src="https://unpkg.com/vue"></script>
	<style>
		body{
			padding: 30px 0px;
		}
		.ma-b-10{
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<div class="container" id="app">
		<h1>使用<code>image/png</code>类型的数据生成图片</h1>
		<div class="input-group ma-b-10">
		  <span class="input-group-addon" id="basic-addon3">在这里粘贴Excel表格</span>
		  <input ref="input" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
		</div>
		<div class="card ma-b-10">
			<div class="card-body">
				<h4 class="card-title">
					获得<code>base64数据</code>
				</h4>
				<textarea
					v-if="base64"
					class="form-control"
					id="base64"
					rows="3"
					v-model="base64">
				</textarea>
			</div>
		</div>
		<div class="card ma-b-10">
			<div class="card-body">
				<h4 class="card-title">
					生成<code>img</code>
				</h4>
				<img v-if="base64" :src="base64">
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var vm = new Vue({
			el: '#app',
			data: {
				base64: ''
			},
			mounted: function () {
				var _this = this
				this.$refs.input.addEventListener("paste", function (e){
					if ( !(e.clipboardData && e.clipboardData.items) ) {
						return ;
					}
					for (var i = 0; i < e.clipboardData.items.length; i++) {
						if (e.clipboardData.items[i].type === 'image/png'){
							var pasteFile = e.clipboardData.items[i].getAsFile();
							var reader = new FileReader();
							reader.readAsDataURL(pasteFile);  
							reader.onload=function(e){
								_this.base64 = this.result;
							}
						}
					}
				});
			}
		})
	</script>
</body>
</html>